@use './partials/variables' as *;
@import "bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body.theme-purple {
    background-color: #060918;
    color: white;
    font-family: "Montserrat", sans-serif;
}

body.theme-orange {
    background-color: #3b2000;
    color: white;
    font-family: "Montserrat", sans-serif;
}

body.theme-green {
    background-color: #051810;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.p-28 {
    padding: 15rem;
}

.px-10 {
    padding: 0 6rem;
}

.pt-10 {
    padding-top: 8rem;
}


// header

.theme-options {
    display: inline-block;
    padding: 1rem;
    text-align: center;

    p {
        margin: 0;
    }

    div {
        cursor: pointer;
        width: 25px;
        height: 40px;
        border-radius: 4px;
        margin: 2px 10px;
        display: inline-block;
        opacity: 0.5;

        &.active {
            opacity: 1;
        }
    }

    #theme-purple {
        background-color: #784adb;
    }

    #theme-orange {
        background-color: #ff8a00;
    }

    #theme-green {
        background-color: #3bae82;
    }
}

#app.theme-purple {

    .my_color_purple {
        color: #784adb;
    }

    .btn-primary {
        background-color: #784adb;
        border: none;
        transition: ease-in 0.2s;
    }

    .btn-primary:hover {
        background-color: #3f139e;
        transform: scale(1.2);
    }

    .my-btn-about {
        color: #784adb;
        border: 1px solid #3F139E;
        background-color: #3f139e52;
    }

    .developer:hover+.designer {
        display: block;
        color: #3F139E;
    }

    .my-bg {
        background-color: #06091880;
        border: 2px solid #6629b6;
        border-radius: 2rem;
    }

    .navbar-toggler {
        background-color: #6629b6 !important;
        border-radius: 2rem;
    }

    .my-contact:hover {
        background-color: #784adb;
        border: 1px solid #784adb;
        transform: scale(1.1);
    }

    .clicked {
        background-color: #784adb;
        border: 1px solid #784adb;
        transform: scale(1.1);
    }

    .my-item:hover {
        border-bottom: 3px solid #784adb;
        transform: scale(1.1);
    }
}

#app.theme-orange {
    .my_color_purple {
        color: #d8873a;
    }

    .btn-primary {
        background-color: #d8873a;
        border: none;
        transition: ease-in 0.2s;
    }

    .btn-primary:hover {
        background-color: #613c19;
        transform: scale(1.2);
    }

    .my-btn-about {
        color: #d8873a;
        border: 1px solid #613c19;
        background-color: #613c193f;
    }

    .developer:hover+.designer {
        display: block;
        color: #613c19;
    }

    .my-bg {
        background-color: #18110680;
        border: 2px solid #b67929;
        border-radius: 2rem;
    }

    .navbar-toggler {
        background-color: #b67929 !important;
        border-radius: 2rem;
    }

    .my-contact:hover {
        background-color: #d8873a;
        border: 1px solid #d8873a;
        transform: scale(1.1);
    }

    .clicked {
        background-color: #d8873a;
        border: 1px solid #d8873a;
        transform: scale(1.1);
    }

    .my-item:hover {
        border-bottom: 3px solid #d8873a;
        transform: scale(1.1);
    }
}

#app.theme-green {

    .my_color_purple {
        color: #3bae82;
    }

    .btn-primary {
        background-color: #3bae82;
        border: none;
        transition: ease-in 0.2s;
    }

    .btn-primary:hover {
        background-color: #256d51;
        transform: scale(1.2);
    }

    .my-btn-about {
        color: #3bae82;
        border: 1px solid #256d51;
        background-color: #256d514f;
    }

    .developer:hover+.designer {
        display: block;
        color: #256d51;
    }

    .my-bg {
        background-color: #091d15;
        border: 2px solid #1b8a5f;
        border-radius: 2rem;
    }

    .navbar-toggler {
        background-color: #1b8a5f !important;
        border-radius: 2rem;
    }

    .my-contact:hover {
        background-color: #3bae82;
        border: 1px solid #3bae82;
        transform: scale(1.1);
    }

    .clicked {
        background-color: #3bae82;
        border: 1px solid #3bae82;
        transform: scale(1.1);
    }

    .my-item:hover {
        border-bottom: 3px solid #3bae82;
        transform: scale(1.1);
    }
}